body {
    padding: 50px;
    font: 36px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}